@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 1400px) {
  html {
    font-size: 60%;
  }
}

@media only screen and (max-width: 900px) {
  html {
    font-size: 55%;
  }
}

@media only screen and (max-width: 1100px) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 500px) {
  html {
    font-size: 40%;
  }
}

body {
  font-family: "Open Sans", Sans-Serif;
  max-width: 144rem;
  margin: 0 auto 0 auto;
  -webkit-box-shadow: 12px 0 15px -4px rgba(235, 235, 235, 0.8), -12px 0 15px -4px rgba(235, 235, 235, 0.8);
          box-shadow: 12px 0 15px -4px rgba(235, 235, 235, 0.8), -12px 0 15px -4px rgba(235, 235, 235, 0.8);
  background-color: #fff;
}

@media only screen and (max-width: 1400px) {
  body {
    max-width: 100%;
  }
}

@media only screen and (max-width: 900px) {
  body {
    max-width: 100%;
  }
}

@media only screen and (max-width: 1100px) {
  body {
    max-width: 100%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

.attribution {
  margin-top: 3rem;
}

.numbers__big {
  color: #00252e;
  font-size: 9.5rem;
}

@media only screen and (max-width: 1100px) {
  .numbers__big {
    font-size: 12rem;
  }
}

.paragraf__big {
  font-size: 3rem;
  color: #888f96;
  text-align: center;
}

a {
  text-decoration: none;
}

.btn__pink {
  border-radius: 25rem;
  border: none;
  background-color: #ff52bf;
  color: #fff;
  font-size: 2.1rem;
  margin-top: 4.5rem;
  padding: 2.4rem 10rem 2.4rem 10rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

@media only screen and (max-width: 1100px) {
  .btn__pink {
    font-size: 3rem;
    margin: 5.5rem 0 0 0;
  }
}

@media only screen and (max-width: 500px) {
  .btn__pink {
    font-size: 2.5rem;
    max-width: 90%;
  }
}

.btn__pink:hover {
  background-color: #ff8fd8;
}

.heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.heading__centered {
  color: #00252e;
}

.heading__centered--h1 {
  font-size: 5rem;
}

.heading__centered--h2 {
  font-size: 4rem;
}

@media only screen and (max-width: 1100px) {
  .heading__centered {
    width: 80%;
  }
}

.heading__paragraf {
  padding: 2rem 0 0 0;
  font-size: 2.1rem;
  word-wrap: break-word;
  max-width: 64rem;
  color: #00252e;
  font-weight: 400;
}

@media only screen and (max-width: 1100px) {
  .heading__paragraf {
    font-size: 3rem;
    padding: 3.5rem 0 0 0;
    max-width: 85%;
  }
}

.top-padding {
  padding: 25rem 0 10rem 0;
}

@media only screen and (max-width: 500px) {
  .top-padding {
    padding: 15rem 0 10rem 0;
  }
}

.nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 6rem;
}

@media only screen and (max-width: 500px) {
  .nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.nav__btn {
  font-size: 1.6rem;
  margin-right: 7rem;
  border-radius: 2.5rem;
  padding: 1rem 3rem 1rem 3rem;
  background-color: #fff;
  border: 1px solid #ff52bf;
  color: #ff52bf;
}

@media only screen and (max-width: 1100px) {
  .nav__btn {
    font-size: 2rem;
    border-radius: 3.5rem;
    padding: 1.5rem 4rem 1.5rem 4rem;
  }
}

@media only screen and (max-width: 500px) {
  .nav__btn {
    display: none;
  }
}

.nav__btn:hover {
  border: 1px solid #ff8fd8;
  color: #ff8fd8;
}

.nav__logo {
  margin-left: 7rem;
}

@media only screen and (max-width: 1100px) {
  .nav__logo {
    width: 180px;
    height: 30px;
  }
}

@media only screen and (max-width: 500px) {
  .nav__logo {
    margin-left: 0;
    margin-top: 2rem;
  }
}

.header {
  background-color: #fff;
  padding-bottom: 15rem;
}

.screens {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10rem;
}

.screens__image {
  max-width: 96rem;
}

@media only screen and (max-width: 1100px) {
  .screens__image {
    width: 80%;
  }
}

.community {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 1100px) {
  .community {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.formed {
  margin-right: auto;
  margin-left: 32rem;
}

@media only screen and (max-width: 1100px) {
  .formed {
    margin-right: auto;
    margin-left: auto;
  }
}

.messages {
  margin-right: 32rem;
}

@media only screen and (max-width: 1100px) {
  .messages {
    margin-right: auto;
    margin-left: auto;
    padding-top: 12rem;
  }
}

main {
  background-color: #fff;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8rem 0 8rem 0;
}

@media only screen and (max-width: 1100px) {
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.main__text {
  max-width: 35%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media only screen and (max-width: 1100px) {
  .main__text {
    max-width: 80%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.main__text--left {
  margin-left: 12rem;
  margin-right: auto;
}

@media only screen and (max-width: 1100px) {
  .main__text--left {
    margin-left: auto;
  }
}

.main__heading {
  color: #00252e;
  font-size: 4rem;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 1100px) {
  .main__heading {
    font-size: 5rem;
    text-align: center;
  }
}

.main__paragraf {
  color: #00252e;
  font-size: 1.55rem;
}

@media only screen and (max-width: 1100px) {
  .main__paragraf {
    font-size: 3rem;
    text-align: center;
  }
}

.main__image {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media only screen and (max-width: 1100px) {
  .main__image {
    margin-bottom: 15rem;
  }
}

.main__image--right {
  margin-right: 12rem;
}

@media only screen and (max-width: 1100px) {
  .main__image--right {
    margin-right: auto;
    margin-left: auto;
  }
}

.dark {
  background-color: #f5faff;
}

.dark__top {
  margin-bottom: -0.3rem;
}

.bright {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media only screen and (max-width: 1100px) {
  .bright {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.c2a {
  padding: 15rem 0 15rem 0;
}

@media only screen and (max-width: 500px) {
  .grow__svg {
    width: 250px;
    height: 200px;
  }
}

footer {
  background-color: #00252e;
  margin-top: -0.3rem;
}

@media only screen and (max-width: 500px) {
  footer {
    margin-top: -1.3rem;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10rem 0 10rem 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 1100px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-left: 5%;
  }
}

.footer__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 20%;
  margin-left: 12rem;
}

@media only screen and (max-width: 1100px) {
  .footer__left {
    max-width: 90%;
    margin: 10rem auto auto auto;
  }
}

.footer__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 45%;
}

@media only screen and (max-width: 1100px) {
  .footer__right {
    max-width: 90%;
    margin: 10rem auto auto auto;
  }
}

.footer__secondary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 7rem;
}

.footer__paragraf {
  color: #f5faff;
  margin-top: 3rem;
  font-size: 1.4rem;
  line-height: 180%;
}

@media only screen and (max-width: 1100px) {
  .footer__paragraf {
    font-size: 3rem;
    margin: 5rem 0 5rem 0;
  }
}

.footer__paragraf--width {
  max-width: 55%;
}

@media only screen and (max-width: 1100px) {
  .footer__paragraf--width {
    max-width: 90%;
  }
}

.footer__paragraf--hidden {
  display: none;
}

.footer__paragraf--invalid {
  margin-top: 1rem;
  color: #ff4242;
  font-size: 1.2rem;
}

.footer__paragraf--valid {
  margin-top: 1rem;
  color: #20d11a;
  font-size: 1.2rem;
}

.footer__contact {
  margin-top: 3rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.footer__contact--info {
  color: #f5faff;
  margin-left: 2rem;
  font-size: 1.6rem;
  line-height: 1.7rem;
}

@media only screen and (max-width: 1100px) {
  .footer__contact--info {
    font-size: 3rem;
    line-height: 3.1rem;
  }
}

.footer__contact--info:hover {
  color: #ff52bf;
}

@media only screen and (max-width: 1100px) {
  .footer__contact--icon {
    width: 3.7rem;
    height: 3.7rem;
  }
}

.footer__inline {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

@media only screen and (max-width: 1100px) {
  .footer__inline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 90%;
    margin-top: 4rem;
  }
}

.footer__inline--middle {
  margin: 0 3rem 0 3rem;
}

.footer__inline--socials {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

@media only screen and (max-width: 1100px) {
  .footer__inline--icons {
    width: 5.5rem;
    height: 5.5rem;
  }
}

.footer__heading {
  color: #fff;
  font-weight: 600;
  font-size: 2.8rem;
  line-height: 1;
}

@media only screen and (max-width: 1100px) {
  .footer__heading {
    font-size: 5rem;
  }
}

.footer__subscribe {
  border-radius: 0.5rem;
  padding: 1.6rem 2rem 1.6rem 2rem;
  width: 30rem;
  margin-right: 4rem;
  border: none;
  outline: none;
}

@media only screen and (max-width: 1100px) {
  .footer__subscribe {
    margin-bottom: 3rem;
    padding: 2.5rem 3rem 2.5rem 3rem;
    width: 100%;
    border-radius: 1.5rem;
  }
}

.footer__subscribe--invalid {
  border: 1px solid #ff4242;
}

.footer__subscribe--valid {
  border: 2px solid #20d11a;
}

.footer__btn {
  background-color: #ff52bf;
  border: none;
  padding: 1.5rem 4rem 1.5rem 4rem;
  border-radius: 0.5rem;
  color: #fff;
  font-size: 1.7rem;
}

@media only screen and (max-width: 1100px) {
  .footer__btn {
    margin-bottom: 3rem;
    padding: 2rem 3rem 2rem 3rem;
    width: 50%;
    -ms-flex-item-align: end;
        align-self: flex-end;
    border-radius: 1.5rem;
    font-weight: 600;
    font-size: 3rem;
  }
}

.footer__btn:hover {
  background-color: #ff8fd8;
  cursor: pointer;
}

.margin__big--top {
  margin-top: 8rem;
}

.margin__bottom {
  margin-bottom: 3rem;
}

a svg:hover #twitter-link {
  fill: #08ccfd;
}

a svg:hover #instagram-link {
  fill: #08ccfd;
}

a svg:hover #facebook-link {
  fill: #08ccfd;
}

.attribution {
  color: #fff;
  font-size: 1.4rem;
}

@media only screen and (max-width: 1100px) {
  .attribution {
    font-size: 2.2rem;
    max-width: 80%;
  }
}

@media only screen and (max-width: 500px) {
  .attribution {
    font-size: 2rem;
  }
}

.attribution__link {
  color: #ff52bf;
}
/*# sourceMappingURL=main.css.map */