@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", Sans-Serif;
  max-width: 1440px;
  margin: 0 auto 0 auto;
  -webkit-box-shadow: 12px 0 15px -4px rgba(235, 235, 235, 0.8), -12px 0 15px -4px rgba(235, 235, 235, 0.8);
          box-shadow: 12px 0 15px -4px rgba(235, 235, 235, 0.8), -12px 0 15px -4px rgba(235, 235, 235, 0.8);
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

.attribution {
  margin-top: 3rem;
}

.numbers__big {
  color: #00252e;
  font-size: 9.5rem;
}

.paragraf__big {
  font-size: 2.3rem;
  color: #888f96;
}

.header {
  background-color: #fff;
  padding-bottom: 15rem;
}

.screens {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10rem;
}

.community {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.formed {
  margin-right: auto;
  margin-left: 32rem;
}

.messages {
  margin-right: 32rem;
}

section {
  background-color: #fff;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8rem 0 8rem 0;
}

.main__text {
  max-width: 35%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.main__text--left {
  margin-left: 9rem;
  margin-right: auto;
}

.main__h1 {
  color: #00252e;
  font-size: 4rem;
  margin-bottom: 2rem;
}

.main__paragraf {
  color: #00252e;
  font-size: 1.55rem;
}

.main__image {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.main__image--right {
  margin-right: 9rem;
}

.dark {
  background-color: #f5faff;
}

.dark__top {
  margin-bottom: -0.3rem;
}

.bright {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.btn__pink {
  border-radius: 25rem;
  border: none;
  background-color: #ff52bf;
  color: #fff;
  font-size: 2.1rem;
  padding: 2.4rem 10rem 2.4rem 10rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

.heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25rem 0 10rem 0;
  text-align: center;
}

.heading__h1 {
  font-size: 5rem;
  color: #00252e;
}

.heading__paragraf {
  padding: 2rem 0 4.5rem 0;
  font-size: 2.1rem;
  word-wrap: break-word;
  max-width: 64rem;
  color: #00252e;
  font-weight: 400;
}

.nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 6rem;
}

.nav__btn {
  font-size: 1.6rem;
  margin-right: 7rem;
  border-radius: 2.5rem;
  padding: 1rem 3rem 1rem 3rem;
  background-color: #fff;
  border: 1px solid #ff52bf;
  color: #ff52bf;
}

.nav__logo {
  margin-left: 7rem;
}
/*# sourceMappingURL=main.css.map */