$light-pink: hsl(321, 100%, 78%);
$pink: hsl(322, 100%, 66%);
$light-red: hsl(0, 100%, 63%);
$very-dark-cyan: hsl(192, 100%, 9%);
$very-pale-blue: hsl(207, 100%, 98%);
$white: #fff;
$light-green: hsl(118, 78%, 46%);
$social-hover: #08ccfd;

// Breakpoints

// Set body at 100% at 1440px

// Første br 1250
// Endre fonstørelser og bildestørresler for plass
// 1.4k og 2.7m mink margin right og left
// Main nedre max widht
// Footer sub knapp under input field
