.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &__centered {
    color: $very-dark-cyan;
    &--h1 {
      font-size: 5rem;
    }

    &--h2 {
      font-size: 4rem;
    }
  }

  &__paragraf {
    padding: 2rem 0 0 0;
    font-size: 2.1rem;
    word-wrap: break-word;
    max-width: 64rem;
    color: $very-dark-cyan;
    font-weight: 400;
  }
}

.top-padding {
  padding: 25rem 0 10rem 0;
}
