.header {
  background-color: $white;
}

.screens {
  display: flex;
  justify-content: center;
  margin-bottom: 10rem;
}

.community {
  display: flex;
  justify-content: center;
  margin-bottom: 15rem;
}

.formed {
  margin-right: auto;
  margin-left: 32rem;
}

.messages {
  margin-right: 32rem;
}
