.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 6rem;

  @include responsive(small-phone) {
    justify-content: center;
  }

  &__btn {
    font-size: 1.6rem;
    margin-right: 7rem;
    border-radius: 2.5rem;
    padding: 1rem 3rem 1rem 3rem;
    background-color: $white;
    border: 1px solid $pink;
    color: $pink;

    @include responsive(phone) {
      font-size: 2rem;
      border-radius: 3.5rem;
      padding: 1.5rem 4rem 1.5rem 4rem;
    }

    @include responsive(small-phone) {
      display: none;
    }

    &:hover {
      border: 1px solid $light-pink;
      color: $light-pink;
    }
  }

  &__logo {
    margin-left: 7rem;

    @include responsive(phone) {
      width: 180px;
      height: 30px;
    }

    @include responsive(small-phone) {
      margin-left: 0;
    }
  }
}
