.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 6rem;

  &__btn {
    font-size: 1.6rem;
    margin-right: 7rem;
    border-radius: 2.5rem;
    padding: 1rem 3rem 1rem 3rem;
    background-color: $white;
    border: 1px solid $pink;
    color: $pink;
  }

  &__logo {
    margin-left: 7rem;
  }
}
