footer {
  background-color: $very-dark-cyan;
  margin-top: -0.3rem;
}

.footer {
  display: flex;
  padding: 10rem 0 10rem 0;
  justify-content: space-between;

  @include responsive(phone) {
    flex-direction: column-reverse;
    margin-left: 5%;
  }

  &__left {
    display: flex;
    flex-direction: column;
    max-width: 20%;
    margin-left: 12rem;

    @include responsive(phone) {
      max-width: 90%;
      margin: 10rem auto auto auto;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    max-width: 45%;

    @include responsive(phone) {
      max-width: 90%;
      margin: 10rem auto auto auto;
    }
  }

  &__secondary {
    display: flex;
    justify-content: center;
    padding-bottom: 7rem;
  }

  &__paragraf {
    color: $very-pale-blue;
    margin-top: 3rem;
    font-size: 1.4rem;
    line-height: 180%;

    @include responsive(phone) {
      font-size: 3rem;
      margin: 5rem 0 5rem 0;
    }

    &--width {
      max-width: 55%;

      @include responsive(phone) {
        max-width: 90%;
      }
    }

    &--hidden {
      display: none;
    }

    &--invalid {
      margin-top: 1rem;
      color: $light-red;
      font-size: 1.2rem;
    }

    &--valid {
      margin-top: 1rem;
      color: $light-green;
      font-size: 1.2rem;
    }
  }

  &__contact {
    margin-top: 3rem;
    display: inline-flex;

    &--info {
      color: $very-pale-blue;
      margin-left: 2rem;
      font-size: 1.6rem;
      line-height: 1.7rem;

      @include responsive(phone) {
        font-size: 3rem;
        line-height: 3.1rem;
      }

      &:hover {
        color: $pink;
      }
    }

    &--icon {
      @include responsive(phone) {
        width: 3.7rem;
        height: 3.7rem;
      }
    }
  }

  &__inline {
    display: inline-flex;

    @include responsive(phone) {
      display: flex;
      flex-direction: column;
      max-width: 90%;
      margin-top: 4rem;
    }

    &--middle {
      margin: 0 3rem 0 3rem;
    }

    &--socials {
      display: inline-flex;
    }

    &--icons {
      @include responsive(phone) {
        width: 5.5rem;
        height: 5.5rem;
      }
    }
  }

  &__heading {
    color: $white;
    font-weight: 600;
    font-size: 2.8rem;
    line-height: 1;

    @include responsive(phone) {
      font-size: 5rem;
    }
  }

  &__subscribe {
    border-radius: 0.5rem;
    padding: 1.6rem 2rem 1.6rem 2rem;
    width: 30rem;
    margin-right: 4rem;
    border: none;
    outline: none;

    @include responsive(phone) {
      margin-bottom: 3rem;
      padding: 2.5rem 3rem 2.5rem 3rem;
      width: 100%;
      border-radius: 1.5rem;
    }

    &--invalid {
      border: 1px solid $light-red;
    }

    &--valid {
      border: 2px solid $light-green;
    }
  }

  &__btn {
    background-color: $pink;
    border: none;
    padding: 1.5rem 4rem 1.5rem 4rem;
    border-radius: 0.5rem;
    color: $white;
    font-size: 1.7rem;

    @include responsive(phone) {
      margin-bottom: 3rem;
      padding: 2rem 3rem 2rem 3rem;
      width: 50%;
      align-self: flex-end;
      border-radius: 1.5rem;
      font-weight: 600;
      font-size: 3rem;
    }

    &:hover {
      background-color: $light-pink;
      cursor: pointer;
    }
  }
}

.margin__big--top {
  margin-top: 8rem;
}

.margin__bottom {
  margin-bottom: 3rem;
}

a svg {
  &:hover #twitter-link {
    fill: $social-hover;
  }

  &:hover #instagram-link {
    fill: $social-hover;
  }
  &:hover #facebook-link {
    fill: $social-hover;
  }
}

.attribution {
  color: $white;
  font-size: 1.4rem;

  &__link {
    color: $pink;
  }
}
