.header {
  background-color: $white;
  padding-bottom: 15rem;
}

.screens {
  display: flex;
  justify-content: center;
  margin-bottom: 10rem;

  &__image {
    max-width: 96rem;
  }
}

.community {
  display: flex;
  justify-content: center;
}

.formed {
  margin-right: auto;
  margin-left: 32rem;
}

.messages {
  margin-right: 32rem;
}
