main {
  background-color: $white;
}

.main {
  display: flex;
  padding: 8rem 0 8rem 0;

  &__text {
    max-width: 35%;
    align-self: center;

    &--left {
      margin-left: 12rem;
      margin-right: auto;
    }
  }

  &__heading {
    color: $very-dark-cyan;
    font-size: 4rem;
    margin-bottom: 2rem;
  }

  &__paragraf {
    color: $very-dark-cyan;
    font-size: 1.55rem;
  }

  &__image {
    align-self: center;
    &--right {
      margin-right: 12rem;
    }
  }
}

.dark {
  background-color: $very-pale-blue;

  &__top {
    margin-bottom: -0.3rem;
  }
}

.bright {
  flex-direction: row-reverse;
}

.c2a {
  padding: 15rem 0 15rem 0;
}
