* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", Sans-Serif;
  max-width: 1440px;
  margin: 0 auto 0 auto;
  box-shadow: 12px 0 15px -4px rgba(235, 235, 235, 0.8),
    -12px 0 15px -4px rgba(235, 235, 235, 0.8);
  background-color: $white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

.attribution {
  margin-top: 3rem;
}
