* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  @include responsive(tab-land) {
    font-size: 60%;
  }
  @include responsive(tab-port) {
    font-size: 55%;
  }
  @include responsive(phone) {
    font-size: 50%;
  }
}

body {
  font-family: "Open Sans", Sans-Serif;
  max-width: 144rem;
  margin: 0 auto 0 auto;
  box-shadow: 12px 0 15px -4px rgba(235, 235, 235, 0.8),
    -12px 0 15px -4px rgba(235, 235, 235, 0.8);
  background-color: $white;

  @include responsive(tab-land) {
    max-width: 100%;
  }
  @include responsive(tab-port) {
    max-width: 100%;
  }
  @include responsive(phone) {
    max-width: 100%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

.attribution {
  margin-top: 3rem;
}
