@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

.numbers__big {
  color: $very-dark-cyan;
  font-size: 9.5rem;
}

.paragraf__big {
  font-size: 2.3rem;
  color: hsl(208, 6%, 56%);
}

a {
  text-decoration: none;
}
